/BlazorInvoice/Invoice.Models/bin/
/BlazorInvoice/Invoice.Models/obj/
/BlazorInvoice/Invoice.Web/bin/
/BlazorInvoice/Invoice.Web/obj/
/BlazorInvoice/Invoice.API/bin/
/BlazorInvoice/Invoice.API/obj/
/BlazorInvoice/.vs/
/BlazorInvoice/.vs/BlazorInvoice/v17/.suo
